
<div class="text-center">
  <div style="justify-content: left">
    <div>

      <h1><img src="~/img/ticket.png" height="50" width="50" />ByteMe Ticketsystem</h1>
    </div>
  </div>
  <h2>@DateTime.Now.ToShortDateString()</h2>
</div>