@model Ticket
  <div asp-validation-summary="All"></div>
<form asp-action="NewTicket" method="post">
  <div class="card">
    <div class="card-header">
      <span asp-validation-for="Headline"></span>
      <label asp-for="Headline"></label>
      <input asp-for="Headline" />
    </div>
    <div class="card-body form-group">
      <span asp-validation-for="Project"></span>
      <label asp-for="Project.ProjectID">Project: </label>
      <select asp-for="Project.ProjectID" asp-items="@ViewBag.Project" class="form-control">
           @*<option selected disabled value="">...</option>        THIS MUST WORK PLEASE*@
      </select>
      <span asp-validation-for="AssignedTo"></span>
      <label asp-for="AssignedTo.EmployeeID">AssignedTo: </label>
      <select asp-for="AssignedTo.EmployeeID" asp-items="@ViewBag.Employee" class="form-control">
        @*  <option selected disabled>...</option>*@
      </select>
    </div>
    <span asp-validation-for="Description"></span>
    <label asp-for="Description"></label>
    <textarea asp-for="Description"></textarea>
  </div>
  <div class="card-footer text-muted">
    <span asp-validation-for="CreatedBy"></span>
    <label asp-for="CreatedBy.EmployeeID">CreatedBy: </label>
    <select asp-for="CreatedBy.EmployeeID" asp-items="@ViewBag.Employee" class="form-control">
      @*  <option selected disabled>...</option>*@
    </select>
  </div>
  <input type="hidden" asp-for="CreatedAt" value="@DateTime.Now" />
  <button type="submit">Submit Ticket</button>
</form>