.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: #00ade5;
  color: #fff;
  padding: 2px;
}


.header {
  background-color: #00ade5;
  padding: 2px;
  padding-bottom: 10px;
}


.FontColor {
  color: #99999c
}

  .FontColor:hover {
    color: #00ade5
  }

.imghover img:last-child {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

.imghover:hover img:last-child {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.imghover:hover img:first-child {
  display: none;
  margin-left: auto;
  margin-right: auto;
}
.tr{
  height: 80px;
}
.tableset {
  text-align: center;
}

