@model Employee

<h1>Add New Employee</h1>

<div class="container m-5">
  <form asp-action="NewEmployee" method="post">
    <div>
      <label>First Name:</label>
      <input asp-for="FirstName" />
      <span asp-validation-for="FirstName"></span>
    </div>
    <div>
      <label>Last Name:</label>
      <input asp-for="LastName" />
      <span asp-validation-for="FirstName"></span>
    </div>
    <div>
      <label>Job Title: </label>
      <select asp-for="JobTitle">
        <option selected disabled value="">...</option>
        <option  value="@JobTitle.Developer">@JobTitle.Developer</option>
        <option  value="@JobTitle.Tester">@JobTitle.Tester</option>
      </select>
      <span asp-validation-for="JobTitle"></span>
    </div>
    <button type="submit">Add Employee</button>
  </form>
</div>